.high-score{
    color: #56a5eb;
    background-color: #fff;
    border: 1px solid #56a5eb;
    padding: .4rem 4rem;
    margin: .7rem;
    font-size: 3rem;
    text-align: left;
    list-style: none;
    width: 20rem;
    
}